<div class="row">
    <div class="col-sm-12">
        <h2> {{ authKey }} </h2>
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Login</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <form name="form" class="form-horizontal" ng-submit="lc.login()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.campaignCode.$dirty && form.campaignCode.$error.required }">
                        <label class="control-label col-sm-2" for="campaignCode">Campaing Code</label>
                        <div class="col-sm-8">
                            <input type="text" name="campaignCode" id="campaignCode" class="form-control" ng-model="lc.campaignCode" required />
                            <span ng-show="form.campaignCode.$dirty && form.campaignCode.$error.required" class="help-block">Campaign Code is required</span>
                        </div>
                        
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label class="control-label col-sm-2" for="username">Username</label>
                        <div class="col-sm-8">
                            <input type="text" name="username" id="username" class="form-control" ng-model="lc.username" required />
                            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                        </div>
                        
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label class="control-label col-sm-2" for="password">Password</label>
                        <div class="col-sm-8">
                            <input type="password" name="password" id="password" class="form-control" ng-model="lc.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-disabled="form.$invalid || lc.dataLoading" class="btn btn-primary">Login</button>
                            <img ng-if="lc.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            <a href="#!/register" class="btn btn-link">Register</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    
</div>
